.fonts{
    font-family: 'Sora', sans-serif;


}
.fonts2{
    font-family: 'Times New Roman', Times, serif;
}
.img-b{
    filter: brightness(50%);
}
.fonts3{
    font-family: 'Galdeano', sans-serif;
    font-weight: 100;
    font-size: 15px;
}

.bg-custom{
    background-color: rgb(19, 18, 18);
    color: azure;
}
.wid{
    width: 100%;
    height: 50vw;

}

.bg-custom a {
    color: aliceblue;
}